* { box-sizing: border-box; }

html {
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: lighten($link-color, 75%);
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
}

body {
	background: $bg-color;
	color: $text-color;
	font-family: $base-font;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	transition: all 200ms ease-in;
	padding-top: 7.7rem;
	@include breakpoint($lg) { padding-top: 9.9rem; }
	&.menu-active { overflow: hidden;	}
}

img,
picture {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.wrap-outer {
	max-width: $wrap-outer;
	margin: 0 auto;
}