// Default Colors
$black: rgb(20,20,20); // #141414
$darkgrey: rgb(51,51,51); // #333
$grey: rgb(153,153,153); // #999
$lightgrey: rgb(236,236,236); // #ECECEC
$white: rgb(255,255,255); // #fff

$orange: rgb(238,73,35); // #EE4923
$orange-light: rgb(255,165,58); // #FFA53A
$orange-pale: rgb(254,204,124); // #FECC7C
$yellow: rgb(254,204,124); // #FECC7C

// Site Colors
$blue: rgb(0,180,188); // #00b4bc
$msggreen: rgb(60,150,10); // #3c960a - Used for Success Messages
$msgred: rgb(225,0,0); // #e10000 - Used for Error Messages

// defaults
$bg-color: $white;
$base-margin: 2rem;
$base-padding: 2rem;
$base-transition: all 0.2s ease-in-out;

// Typography

/* Bebas Neue
 * font weight
 * Regular: normal
 * Thin: 100
 * Light: 300
 * Bold: bold
 */
$bebas-neue: 'Bebas Neue';
$bebas-neue-book: 'Bebas Neue Book';

/* Vicente
 */
$vicente: 'Vicente';
$vicente-distressed: 'Vicente Regular Distressed';
$vicente-spurred: 'Vicente Spurred';
$vicente-spurred-distressed: 'Vicente Spurred Distressed';

/* Chika Neue
 */
$chika-neue: 'Chika-Neue';

/* Roboto
 */
$roboto-mono: 'Roboto Mono', monospace;


$text-color: $darkgrey;
$text-color-bg-color: $white;

$base-font: $roboto-mono;
$base-font-size: 1.8rem;
$base-font-weight: 400;
$base-line-height: 1.2;

$heading-font: $bebas-neue;
$heading-color: $black;

// Links
$link-color: $orange;
$link-font-weight: 400;
$link-hover: $orange;

// Elements
$placeholder_color: $grey;
$input-border: none;
$input-border-radius: 0;
$input-padding: 1.5rem 2rem;
$input-margin: 0;
$input-focus-glow: 0 0 0.5rem rgba($orange,0.5);

// Buttons
$btn-border-width: 0;
$btn-border_style: solid;
$btn-font: $heading-font;
$btn-font_size: 2.4rem;
$btn-font-weight: 700;
$btn-text-decoration: none;
$btn-text-transform: capitalize;
$btn-line-height: 1;
$btn-padding: 1.4rem 4rem 1rem;
$btn-border-radius: 0;

// Column & Container & Thingzzz
$wrap: 1170;
$wrap-outer: 144rem;

$container: $wrap + 30;
$c: $container + 'px';

// Breakpoints
$sm: 320px;
$md: 600px;
$md-lg: 768px;
$lg: 900px;
$lg-xl: 1024px;
$xl: $c;
$xxl: 1500px;