// BUTTON_CLASS_NAME{ @include btn(BACKGROUND_COLOR,BORDER_COLOR,TEXT_COLOR); }

.btn { @include btn( $orange-light, $orange-light, $orange ); }

.btn-3d {
  display: inline-block;
  text-align: center;
	@include position(relative,3rem null null 1rem);
	width: calc(100% - 1rem);
	@include breakpoint($md-lg) {
		left: auto;
		width: auto;
	}

  &:hover {
	  .btn { transform: translate(-1rem, -1rem); }
	  .left.alt {
			transform: skew(0deg, 45deg) scale3d(1, 1, 1);
			height: 100%;
		}
		.bottom.alt {
			transform: skew(45deg, 0deg) scale3d(1, 1, 1);
			width: 100%;
		}
  }

  &.is-active{
	  .btn { transform: translate(-1rem, -1rem); }
	  .left.alt {
			transform: skew(0deg, 45deg) scale3d(1, 1, 1);
			height: 100%;
		}
		.bottom.alt {
			transform: skew(45deg, 0deg) scale3d(1, 1, 1);
			width: 100%;
		}
  }

  &.has-accent-white {
	  .left, .bottom { background-color: $white; }
  }
  &.has-accent-orange {
	  .left, .bottom { background-color: $orange; }
  }
  &.is-large {
	  top: 3rem;
		left: 1.6rem;
		width: calc(100% - 1.6rem);
		@include breakpoint($md-lg) {
			top: 4rem;
			left: auto;
			width: auto;
		}
	  &:hover .btn { transform: translate(-1.5rem, -1.5rem); }
	  &.is-active {
		  .btn { transform: translate(-1.5rem, -1.5rem); }
		}
	  .btn {
		  font-size: 3.2rem;
		  padding: 1.9rem 6rem 1.5rem;
	  }
	  .left { width: 1.5rem; }
	  .bottom { height: 1.5rem; }
  }

  .btn {
		position: relative;
		bottom: 0;
		z-index: 10;
		display: block;
		width: 100%;
		transition: transform 200ms ease, -webkit-transform 200ms ease;
		text-align: center;
  }

	.left {
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  z-index: 9;
	  width: 1rem;
	  height: 75%;
	  transform: skew(0deg, 45deg);
	  transform-origin: 100% 50%;
	  transition: height 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;

		&.alt {
		  height: 97%;
		  transform: skew(0deg, -22.5deg) scale3d(0, 1, 1);
		  transform-origin: 0% 50% 1;
		  transform-style: preserve-3d;
		}
	}

	.bottom {
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  z-index: 8;
	  width: 80%;
	  height: 1rem;
	  transform-origin: 50% 100% 0;
	  transition: transform 200ms ease, width 200ms ease, -webkit-transform 200ms ease;

		&.alt {
		  width: 98.5%;
		  transform: skew(-45deg, 0deg) scale3d(1, 0, 1);
		  transform-style: preserve-3d;
		}
	}
}
