// Bebas Neue
@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
      url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Thin.woff2') format('woff2'),
      url('../fonts/BebasNeue-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueLight.woff2') format('woff2'),
      url('../fonts/BebasNeueLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
      url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
      url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Vicente
@font-face {
  font-family: 'Vicente';
  src: url('../fonts/VicenteRegular-Regular.woff2') format('woff2'),
      url('../fonts/VicenteRegular-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vicente Regular Distressed';
  src: url('../fonts/VicenteRegular-Distressed.woff2') format('woff2'),
      url('../fonts/VicenteRegular-Distressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vicente Spurred';
  src: url('../fonts/VicenteSpurred-Regular.woff2') format('woff2'),
      url('../fonts/VicenteSpurred-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vicente Spurred Distressed';
  src: url('../fonts/VicenteSpurred-Distressed.woff2') format('woff2'),
      url('../fonts/VicenteSpurred-Distressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Chika Neue
@font-face {
  font-family: 'Chika-Neue';
  src: url('../fonts/ChikaNeueBold.woff2') format('woff2');
		//url('../fonts/ChikaNeueBoldRegular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

