footer[role="contentinfo"] {
	@include clearfix;
	background-color: $orange;
	color: $yellow;
	text-align: center;
	padding: 4.6rem 0;

	p { font-size: 1.6rem; }

	.split-content {
		display: grid;
		grid-gap: 3.5rem;
		@include breakpoint($md-lg) {
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
		}
	}

	.hours {
		@include breakpoint($md-lg) { text-align: left; }
		p { margin-bottom: 0; }
		.btn-3d {
			margin-bottom: 3rem;
			width: auto;
		}
	}

	.logo {
		grid-row: 3;
		@include breakpoint($md-lg) {
			grid-row: 1;
			grid-column: 2;
		}
	}

	.social {
		grid-row: 2;
		@include breakpoint($md-lg) {
			grid-row: 1;
			grid-column: 3;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				padding: 0 1rem;
				a{
					&:hover svg path { fill: $white; }
					svg {
						@include size(3.2rem);
						path {
							fill: $orange-pale;
							transition: all 0.2s ease-in-out;
						}
					}

				}
			}
		}
	}
}

.instagram-feed {
	background-color: $orange-pale;
	padding: 6rem 0 12rem;
	@include breakpoint($md-lg) { padding: 10rem 0 17rem; }

	header {
		text-align: center;
		margin-bottom: 5rem;
		@include breakpoint($md-lg) { margin-bottom: 10rem; }
		svg {
			&:first-of-type {
				width: 3.6rem;
				@include breakpoint($md-lg) { width: auto; }
			}
			&:nth-child(2) {
				width: 15rem;
				margin: 0 1.5rem;
				@include breakpoint(350px) { width: 18rem; }
				@include breakpoint(375px) { width: 21rem; }
				@include breakpoint(400px) { width: 23rem; }
				@include breakpoint($md-lg) {
					width: auto;
					padding: 0 6rem;
				}
			}
			&:last-of-type {
				width: 3.6rem;
				transform: scale(-1, 1);
				@include breakpoint($md-lg) { width: auto; }
			}
		}
	}

	.image-blocks {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
		@include breakpoint($md-lg) {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1.5rem;
		}
		a {
			position: relative;
			display: block;
			border: solid 6px $orange;
			&:hover {
				.overlay {
					@include breakpoint($md-lg) {
						visibility: visible;
						opacity: 1;
						//transition: all 0.2s ease-in-out;
					}
				}
			}
			img { width: 100%; }
			.overlay {
				visibility: hidden;
				opacity: 0;
				background-color: rgba($black,0.8);
				@include position(absolute, 0 null null 0);
				@include size(100%);
				padding: 2rem;
				transition: all 0.2s ease-in-out;
				p {
					color: $white;
					font-size: 1.4rem;
				}
			}
		}
	}
}