// https://css-tricks.com/almanac/selectors/p/placeholder/
::-webkit-input-placeholder { color: $placeholder-color; }
:-moz-placeholder { color: $placeholder-color; }
::-moz-placeholder { color: $placeholder-color; }
:-ms-input-placeholder { color: $placeholder-color; }
::-ms-input-placeholder { color: $placeholder-color; }
:placeholder-shown { color: $placeholder-color; }

label, legend {
	display: block;
	color: $orange;
	font-family: $heading-font;
	font-size: 2.6rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: $base-line-height;
	margin-bottom: 0.5rem;

}

#{$all-text-inputs} {
	background: $lightgrey;
	border: $input-border;
	border-radius: $input-border-radius;
	color: $text-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: $input-padding;
	margin: $input-margin;
	outline: none;
	transition: all 0.2s ease-in-out;

	&:hover { border-color: shade($yellow,20%); }

	&:focus {
		border-color: $orange;
		outline: none;
		box-shadow: $input-focus-glow;
	}

	&:disabled {
		background-color: tint($lightgrey,50%);
		color: $lightgrey;
		cursor: not-allowed;

		&:hover { border: $input-border; }
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 0.5rem 1rem 0;
}

input[type="color"]{
	border: 0;
	width: 4.1rem;
	height: 4.1rem;
	padding: 0;
}

input[type="submit"]{
	-webkit-appearance: none;
	width: 100%;
	height: auto;
	margin: 0;

	@include breakpoint($md){
		width: auto;
		height: auto;
	}
}

.options-list {
	list-style-type: none;
	padding: 0;
}

select{
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23999'><polygon points='0,0 100,0 50,50'/></svg>");
	background-size: 1.2rem;
	background-position: calc(100% - 2rem) calc(50% + 4px);
	background-repeat: no-repeat;
	background-color: $white;
	border: $input-border;
	border-radius: $input-border-radius;
	color: $text-color;
	font-size: $base-font-size;
	width: 100%;
	height: 5.3rem;
	padding-right: $base-padding;
	padding-left: $base-padding;
	margin: $input-margin;
	appearance: none;

	&:hover { border-color: shade($blue,20%); }

	&:focus{
		border-color: $blue;
		outline: none;
		box-shadow: $input-focus-glow;
	}

	&.disabled {
		background-color: tint($lightgrey,50%);
		cursor: not-allowed;

		&:hover { border: $input-border; }
	}
}

.message {
	border: 2px solid $text-color;
	border-radius: 3px;
	color: $white;
	padding: $base-padding;
	margin-bottom: $base-margin;

	&.error {
    background: $msgred;
    background: rgba($msgred,0.6);
    border-color: $msgred;
	}
	&.success {
    background: $msggreen;
    background: rgba($msggreen,0.6);
    border-color: $msggreen;
	}
}