header[role="banner"] {
	@include clearfix;
	background-color: $yellow;
	text-align: center;
	padding: 1.5rem 0;
	@include position(fixed,0 null null 0);
	@include size(100%, auto);
	z-index: 9999;
  transition: all 0.3s ease-in-out;
	@include breakpoint($lg) { padding: 2rem 0; }

  &.is-menu-open {
	  nav[role="navigation"] {
			background-color: $yellow;
			position: absolute;
			top: 7.8rem;
			left: 0;
			width: 100%;
			padding-top: 2rem;
			padding-bottom: 10rem;
			visibility: visible;
			//overflow-y: scroll;
			overflow: visible;
			transform: translateY(0);
	  }
  }

	&.is-scrolling:not(.is-menu-open) {
		box-shadow: 0 0 1px 1px rgba($black,0.1);
	}

	&.is-shrink:not(.is-menu-open) {
		padding: 1.5rem 0;
		.logo svg { height: 3.5rem; }
		.menu-toggle { top: 2rem; }
		nav[role="navigation"] {
			top: 2.5rem;
			ul.main-menu {
				.menu-item {
					a {
						font-size: 2rem;
						svg {
							width: 8rem;
							top: -4rem;
							left: calc(50% - 4rem);
						}
					}
				}
			}
		}
	}

	.logo-wrap {
		text-align: center;
		position: relative;
		z-index: 1;
		display: inline-block;
		a {
			svg {
				height: 4.6rem;
				transition: $base-transition;
				@include breakpoint($lg) { height: 5.8rem; }
			}
		}
	}

	.menu-toggle {
		-webkit-appearance: none;
		outline: none;
		background: none;
		border: none;
		cursor: pointer;
		position: absolute;
		top: 2.5rem;
		right: 3rem;
		transition: $base-transition;
		@include breakpoint($lg) { display: none; }
	}

	nav[role="navigation"] {
		@include position(absolute,8rem null null 0);
		@include size(100%,calc(100vh - 7.5rem));
		visibility: hidden;
		transform: translateY(-100%);
		transition: all .5s ease-in-out;

	  @include breakpoint($lg) {
			visibility: visible;
			@include position(absolute,4rem null null 3rem);
			@include size(calc(100% - 6rem),auto);
			transform: none;
			transition: $base-transition;
	  }

		ul.main-menu {
			text-align: center;

			@include breakpoint($lg) {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				max-width: 117.4rem;
				margin: 0 auto;
			}

			li.menu-item {
				margin-bottom: 3.7rem;
				position: relative;

				@include breakpoint($lg) {
					display: inline-block;
					margin-bottom: 0;
				}

				&.has-large-svg {
					a svg {
						height: 13rem;
						top: -4.1rem;
					}
				}

				&.active {
					svg {
						opacity: 1;
						path { fill: $orange; }
					}
				}

				a {
					color: $orange;
					font-family: $bebas-neue;
					font-weight: bold;
					font-size: 4.6rem;
					transition: $base-transition;

					@include breakpoint($lg) { font-size: 2.4rem; }

					&:hover {
						svg {
							opacity: 1;
							path { fill: $orange; }
						}
					}

					svg {
						width: 100%;
						position: absolute;
						top: -2.4rem;
						left: 0rem;
						opacity: 0;
						transition: all 0.1s ease-in-out;

						@include breakpoint($lg) {
							width: 10rem;
							top: -3.8rem;
							left: calc(50% - 5rem);
							transition: $base-transition;
						}

						path {
							fill: $yellow;
							transition: all 0.1s ease-in-out;
						}
					}
				}
			}
		}
	}
}