.split-content {
	display: grid;
	grid-template: auto / auto;
	grid-gap: 3rem;

	@include breakpoint($md-lg) {
		grid-template: auto / repeat(2, 1fr);
		&.split-3 { grid-template: auto / repeat(3, 1fr); }
		&.split-4 { grid-template: auto / repeat(3, 1fr); }
		&.split-25-75 { grid-template: auto / 1fr 3fr; }
		&.split-75-25 { grid-template: auto / 3fr 1fr; }
		&.split-40-60 { grid-template: auto / 2fr 3fr; }
		&.split-60-40 { grid-template: auto / 3fr 2fr; }
		&.split-33-66 { grid-template: auto / 1fr 2fr; }
		&.split-66-33 { grid-template: auto / 2fr 1fr; }
	}
	@include breakpoint($lg) {
		&.split-4 { grid-template: auto / repeat(4, 1fr); }
	}

	&.no-gap { grid-gap: 0; }

	&.reverse {
		div:first-of-type {
			grid-row: 2;
			grid-columm: 1;
			@include breakpoint($md-lg) {
				grid-row: 1;
				grid-column: 2;
			}
		}
		div:last-of-type {
			grid-row: 1;
			grid-columm: 1;
		}
	}
}

.bg-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&.pos-top-center{ background-position: top center; }
	&.pos-top-left{ background-position: top left; }
	&.pos-top-right{ background-position: top center; }

	&.pos-btm-center{ background-position: bottom center; }
	&.pos-btm-left{ background-position: bottom left; }
	&.pos-btm-right{ background-position: bottom center; }

	&.full{
		width: 100%;
		min-height: 100vh;
	}
}

.bg-overlay{ background-image: linear-gradient(to bottom, rgba($black,0.3), rgba($black,0.3)); }

.bgcolor { #{headings()}, p { color: $text-color-bg-color; } }

.aligncenter{ text-align: center; }
.alignright{ text-align: right; }

.video-wrapper {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // 16:9
	//padding-bottom: 75%; // 4:3
	position: relative;

	embed,
	object,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

