a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;
	transition: all, 0.2s, ease-in-out;

	&:active,
	&:focus,
	&:hover {
		color: $link-hover;
		outline: 0;
	}

	&.chika-style {
		position: relative;

		&:hover:before {
			visibility: visible;
			transform: scaleX(1);
		}

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 0.2rem;
			bottom: -0.2rem;
			left: 0;
			background-color: $orange;
			visibility: hidden;
			transform: scaleX(0);
			transition: all 0.3s ease-in-out 0s;
		}

		&.underline:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
}

p {
	font-size: $base-font-size;
	line-height: 1.6;
	margin-bottom: $base-margin;
}

// headings
#{headings()} {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: bold;
	text-rendering: optimizelegibility;
	line-height: 1;
	margin-bottom: 1rem;
}

h1 {
	color: $orange-light;
	font-family: $chika-neue;
	font-size: 10rem;
	@include breakpoint($md-lg) { font-size: 14.2rem; }
}

.chika-neue {
	font-family: $chika-neue;
	font-size: 3.2rem;
	color: inherit;
}

h2 {
	color: $orange;
	font-size: 4.5rem;
	@include breakpoint($md-lg) { font-size: 6rem; }
}

h3 {
	color: $orange;
	font-size: 2.0rem;
	@include breakpoint($md-lg) { font-size: 2.6rem; }
}

h4 {
	color: $orange-light;
	font-size: 1.7rem;
	letter-spacing: 1.18px;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

// basic elements
blockquote {
	@extend p;
	border-left: 2px solid $grey;
	color: $grey;
	font-style: italic;
	padding-left: $base-padding;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

article {

	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }

	ul,
	ol {
		font-size: $base-font-size;
		padding-left: $base-padding;
		margin-bottom: $base-margin;

		li {
			line-height: $base-line-height;
			margin-bottom: 1rem;
		}

		ul, ol { margin-bottom: 0; }
  }
}

sup {
	font-size: 0.9rem;
	position: relative;
	top: -0.75rem;
}

b, strong { font-weight: bold; }

i, em{ font-style: italic; }

small, .small{ font-size: 70%; }

.lower { text-transform: lowercase; }